.form {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
}
.input {
    display: block;
    width: 16%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    align-content: center;
    color: blue;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3; 
}
body {
    background-color:lightskyblue;
}